/*CENG311 Activity 2 css file*/

/*styling for the table goes here*/
body 
{
	width: 750px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

div {
	margin-top: 25px;
	border: 1px solid black;
}

caption{
	font-size: 200%;
	font-weight: bolder;
	margin: 2%;
}

.lastrow {
	text-align: right;
	font-weight: bold;
	border: 1px;
	background-color: yellow;
}

tr:nth-child(1) td:nth-child(1) {
	background: #ffffff;
	font-weight: bold;
	vertical-align: top;
}

tr:nth-child(4) td:nth-child(1) {
	background: #ffffff;
	font-weight: bold;
	vertical-align: top;
}

tr:nth-child(6) td:nth-child(1) {
	background: #ffffff;
	font-weight: bold;
	vertical-align: top;
}

.right{
	text-align: right;
}

table 
{
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px;
}

thead 
{
	background-color: yellow;
}

th, td 
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

tbody tr:nth-child(even) td 
{
	background-color: yellow;
}
